.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
x64/
Win32/
Debug/
Release/
ipch/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.log
*.tlog
*.lastbuildstate
imgui.ini
out/
build/
bin/
obj/
*.exe
*.dll
*.appx
*.ipch
settings.json
