[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/imgui_club"]
	path = third_party/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype.git
[submodule "plugins/decompsnake"]
	path = plugins/decompsnake
	url = https://github.com/candestan/BSI-DecompSnake.git
[submodule "plugins/lydis"]
	path = plugins/lydis
	url = https://github.com/Septillioner/bsi-lydis
[submodule "third_party/kuara_dynamic"]
	path = third_party/kuara_dynamic
	url = https://github.com/candestan/KUARA-Dynamic.git
[submodule "third_party/imnodes"]
	path = third_party/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "plugins/decompakey"]
	path = plugins/decompakey
	url = https://github.com/candestan/BSI-DecompAKEY.git
[submodule "plugins/decompbeaker"]
	path = plugins/decompbeaker
	url = https://github.com/candestan/BSI-DecompBeaker.git
[submodule "third_party/miniz"]
	path = third_party/miniz
	url = https://github.com/richgel999/miniz.git
