#include <windows.h>
#include "resource.h"

IDI_APP ICON "..\\..\\assets\\app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "candestan"
            VALUE "FileDescription", "Binary Sector Inspector"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "BinarySectorInspector"
            VALUE "LegalCopyright", "Copyright (c) 2026 candestan"
            VALUE "OriginalFilename", "BinarySectorInspector.exe"
            VALUE "ProductName", "BinarySectorInspector"
            VALUE "ProductVersion", "0.1.0.0"
            VALUE "Comments", "Inspect binaries, a more modern way."
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
